html,body{
	height: 100%;
	overflow-x: hidden;
}

/*#1 Navbar*/
.header{
	background-color: #FFC414;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    background-color: #FFC414;
    border: 1px solid black;
}
.dropdown-item:hover{
	background-color: yellow;
}

a{
	color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
}

/*#2 Hero*/
.hero{
	height: 85%;
	background-image: url('../Images/3.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

/*#3 Login Form*/
.login-form{
	width: 30%;
	left: 65%;
	top: 10%;
}

/*#4 Signup Form*/
.signup-form{
	width: 30%;
	left: 65%;
	top: 40px;	
}

/*#3 Contact Form*/
.contact-form{
	width: 30%;
	left: 65%;
	top: 40px;	
}

/*#4 About*/
.about{
	width: 40%;
	left: 55%;
	top: 40px;	
	font-size: 1.25em
}

/*#5 Welcome */

.Welcome{
	margin: 3% 0%;
}

.EmployeeDetails{
	margin-left: 10%;
	margin-top: 3%;
}


/*Media Queries*/
	/*For Phone*/
@media(max-width: 765px){
	.login-form{
		width: 100%;
		left: 0px;
		top: 10%;	
	}

	.signup-form{
		width: 100%;
		left: 0px;
		top: 10px;		
	}
	.contact-form{
		width: 100%;
		left: 0px;
		top: 10px;		
	}
	.about{
		width: 100%;
		left: 0px;
		top: 10%;	
		font-size: 1em;
	}
	.subjects{
		margin-left: 0px;
	}
	.img-fluid{
		max-width: 70%;
		max-height: 70%;
	}
	.display-dropdown{
		margin-top: 3%;
	 	left: 0%;
	}
}
	
	/*For Tablets*/
@media(min-width:426px) and (max-width: 768px){
	.signup-form{
		width: 50%;
		left: 50%;
		top: 10px;
	}
	.contact-form{
		width: 100%;
		left: 0px;
		top: 10px;		
	}
	.display-dropdown{
		margin-top: 3%;
	 	left: 0%;
	}
}